---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact St. Paul's Presbyterian Church">
  <header class="full-bleed">
    <h1>Contact St. Paul's Presbyterian Church</h1>
  </header>
	<main>
    <h2>Contact</h2>
  </main> 
</Layout>