---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Events at St. Paul's Presbyterian Church">
  <header class="full-bleed">
    <h1>Events at St. Paul's Presbyterian Church</h1>
  </header>
	<main>
    <h2>Events</h2>
  </main> 
</Layout>