---
import Layout from '../layouts/IndexLayout.astro';
---

<Layout title="The History of St. Paul's Presbyterian Church">
  <header class="full-bleed">
    <h1>The History of St. Paul's Presbyterian Church</h1>
  </header>
	<main>
    <h2>Written by Mary Becker: Church Historian</h2>
    <p>
      Our story begins much before the construction of the first church building in 1822, with the arrival in Upper Canada of immigrants from Great Britain and Europe. The people also spilled in from south of the American border, as United Empire Loyalists came in search of fertile land grants in Nelson Township on the newly built Dundas Street. Once here, the task fell to the newcomers to hew out their homes from the unbroken wilderness, slaving to cut down trees and pull up stumps, clearing the land for a farm to be built and planting their crops before the harsh winter came. All the while they risked disease, cold, failed crops, and loneliness.
    </p>
    <p>
      Much has been written about the privations and perseverance of those early pioneers, but most people will agree that God was also in the wilderness, and the people were truly faithful in their devotion of Him. In those early years, around 1816, the settlers met in Hugh McLaren's barn where the Reverend William Jenkins from Scarborough, in York County, came to preach.
    </p>
    <p>
      Winters in Upper Canada were very harsh and the barn was draughty, so the people organized a congregation and set about to build the first church. The Bastedo and Calvert families donated lots 12 and 13, parcels of acreage from the corners of their 200-acre land grants, for the building of a white frame church. This building stood a little east of the present-day old St. Paul's, with land for a cemetery abutting it. No drawings or tintype photo of the white frame church has ever been found. As was the sad reality and a very common occurrence within the harsh winter environment of pioneer life, the Bastedo family lost a baby daughter during those early years and her grave is one of the first in St. Paul's Cemetery. We can all learn so much about our history by walking through the peaceful grounds of the adjoining cemetery, which is also the resting place of a soldier who fought in the Battle of 1812, as well as countless early ancestors from present-day members of our congregation and community. Some of those names include: Dryden, Featherstone, Gunby, Heslop, Hunter, Irving and Marshall.
    </p>
    <p>
      In 1867, a permanent brick church was built, a short distance west of the original frame building, and remained the home of the St. Paul’s congregation until 1993. A fire in 1960 damaged the interior but it was restored the following year. In 1993, the present building was completed east of the 1867 building and a Service of Dedication held on October 3. Many of the precious relics from the old church were brought over to their new home. The 1867 building was sold and has become a music therapy centre.
    </p>
  </main> 
</Layout>