---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="St. Paul's Presbyterian Church">
  <!-- <header class="full-bleed">
    <h1>St. Paul's Presbyterian Church</h1>
  </header> -->
  <Hero />
	<main>
    <h2>Welcome to St. Paul's Presbyterian Church in Burlington, ON</h2>
    <p>
      It may not be obvious, but you may be interested to know that our congregation dates back to 1822. A brief look at our history is provided below, or if you'd like to dig further have a look at the Heritage Burlington web site:
      <a href="https://heritageburlington.ca/heritage_property/st-pauls-presbyterian-church-and-cemetery">
        https://heritageburlington.ca/heritage_property/st-pauls-presbyterian-church-and-cemetery
      </a>
    </p>
    <h2>
      Better yet, drop by and get to know us:
    </h2>
    <p>
      <ul role="list">
        <li>Join us for worship at 10:30 am on Sundays</li>
        <li>Learn at one of our Bible Studies at different times of the year</li>
        <li>Enjoy the fellowship of the Jean Gordon Auxiliary for women the second
        Monday of each month at 1:00 pm</li>
        <li>Join us for the Men’s Drop In each Wednesday morning at 9:30</li>
        <li>Celebrate the seasons of the church year at one of our special
        services</li>
      </ul>
    </p>
    <p>
      We span the ages with a Sunday school for the children during worship and
      caring for all our seniors – and for everyone else in between.
    </p>
    <p>
      If you are looking for a church family where you will be engaged by the
      worship, find support and enthusiasm to live according to Jesus' teachings,
      and to be loved for who you uniquely are, then this is the Church for you!
    </p>
    <p>
      There is so much more to say, but let us share that with you in person.
    </p>
    <p>
      <em>It’s our prayer that we will see you here soon!</em>
    </p>
  </p>

  </main> 
</Layout>