---
---
<nav>
  <ul role="list">
    <li><a href="https://www.youtube.com/channel/UC8Mebirql2kpFd6olc2Tg6A/videos"><img class="nav_icon" src="/icons/youtube.svg" alt="Our Youtube channel."></a></li>
    <li><a href="https://www.facebook.com/stpaulsburl/?fref=ts"><img class="nav_icon" src="/icons/facebook.svg" alt="Our Facebook page."></a></li>
    <li><a href="https://www.instagram.com/stpaulsburlington/"><img class="nav_icon" src="/icons/instagram.svg" alt="Our Instagram account."></a></li>
    <li><a href="https://twitter.com/stpaulsburlPC"><img class="nav_icon" src="/icons/twitter-x.svg" alt="Our Twitter account."></li></a>
  </ul>
  <ul role="list">
    <li><a href="/">Home</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>